html,body{
    margin: 0;
}


.nav{
    background-color: rgb(27, 25, 25);
   
    padding: 10px;
    position: fixed;

    width: 100%;
    
}
.menu{
    
    background-color: rgb(27, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu .logo{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 600;
}

.menu .logo a{
    text-decoration: none;
    color: white
}

.menu .list ul{
    display: inline-flex;
    flex-wrap: wrap;
    
}

.menu .list ul li{
    
    list-style: none;
    margin-right: 30px;
    font-size: 23px;
    font-weight: 600;
    
   
}
.menu .list ul li a{
    border-radius:3px;
    padding: 5px;
    text-decoration: none;
    transition: all 0.2s linear ;
    color: white;
   
}

.menu .list ul li a:hover{
color: black;
background-color: white;
}
.layout_img{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.layout_img img{
 height: 100vh;
 width: 100%;
 background-position: cover;
 object-fit: cover;
 filter: blur(2px);
}
.imgfilter{
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
}

.layout_img .content{
   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.layout_img .content .title{
    color: rgb(252, 252, 252);
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    
}
.layout_img .content .sub_title{
    color: rgb(224, 216, 145);
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;

}
.layout_img .content .btns{
    width: 250px;
    display: flex;
    justify-content: space-between;
    

}
.layout_img .content .btns button{
    height:39px;
    width: 110px;
    background: none;
    border-radius: 4px;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    

}
.layout_img .content .btns .b1{
transition: 0.3s linear;
}
.layout_img .content .btns .b2{
    background-color: white;
    border: 2px solid white;
    
}
.layout_img .content .btns .b1:hover{
    background-color: white;
    border: 2px solid white;  
    box-shadow: 2px 2px 2px 2px;
}
.layout_img .content .btns .b2:hover{

    box-shadow: 2px 2px 2px 2px;
}

